    <div class="login_wrapper">
        <div class="login_card">
            <div class="login_header">
                <h2>Login</h2>
            </div>
            <div class="login_criteria">
                <form class="form login_form">
                    <div class="form_group">
                        <label class="username" for="username_login">Username</label>
                        <input class="form_input" type="text" id="user-login" />
                    </div>
                    <div class="form_group">
                        <label class="password" for="password_login">Password</label>
                        <input class="form_input" type="password" id="password-login" />
                    </div>
                        <div class="form_group">
                        <button class="btn btn_login" type="submit">Login!</button>
                    </div>
                    <a class="login_signup" href="">Sign up instead</a>
                 </form>
            </div>
        </div>
    </div>

    <script src="./js/login.js"></script>