    <div class="login_wrapper">
        <div class="login_card">
            <div class="login_header">
                <h2>SignUp</h2>
            </div>
            <div class="login_criteria">
                <form class="form login_form">
                    <div class="form_group">
                        <label class="username" for="username_signup_login">Username</label>
                        <input class="form_input" type="text" id="user_signup" />
                    </div>
                    <div class="form_group">
                        <label class="password" for="password_signup_login">Password</label>
                        <input class="form_input" type="password" id="password_signup" />
                    </div>
                        <div class="form_group">
                        <button class="btn btn_signup" type="submit">Sign Up!</button>
                    </div>
                    <a class="login_signup" href="">Login instead</a>
                 </form>
            </div>
        </div>
    </div>

    <script src="./js/login.js"></script>