* {
    font-family: sans-serif;
}

:root {
    --dark: #231010;
    --light: #D9EAD3;
}



/*----- Main Page -----*/
body {
    display: block;
    margin: 0px;
    background-color: var(--light);
}

header {
    background-color: var(--dark);
    padding-left: 40px;
    height: 125px;
}

nav {
    color: var(--light);
    font-size: 150%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}

nav>a {
    padding-right: 30px;
}

h1 {
    display:inline;
    color: var(--dark);
    background-color: var(--light);
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 6px 6px #d9ead380;
    font-weight: bolder;
    font-size: 200%;
}

/*----- Login Box -----*/
.login_wrapper {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.login_card {
    width: 600px;
    border: 3px solid var(--dark);
}

.login_header {
    background-color: var(--dark);
    color: var(--light);
    height: 36px;
    margin-left: -3px;
    margin-top: -3px;
}

h2 {
    margin: 0px;
    padding: 4px 4px 4px 10px;
}

.login_criteria {
    padding: 7px;
}

.form_input {
    width: 580px;
    height: 25px;
    margin: 5px 0px 5px 0px;
}

.btn_login {
    width: 587px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    background-color: rgb(97, 92, 92);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn_login:hover {
    background-color: rgb(71, 68, 68);
    font-size: 101%;
}

.login_signup {
    text-decoration: none;
}